/* ---Resetando CSS--- */

html, body, div, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.painel{
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-self: flex-end;
}

.painel div{
    position: relative;
    width:50%;
    overflow: hidden;
    background: url(bg.gif) no-repeat;
}

.painel div:nth-child(1){
    position: relative;
    width:50%;
    background:  rgb(197, 191, 250);
    overflow: hidden;
}

.painel div:nth-child(1) i{
    -webkit-text-stroke: 2px;
    color: #fca6b4;
    left: 100%;
}

.painel div i{
    position: absolute;
    white-space:nowrap;
    color: rgb(197, 191, 250);
    font-size:12em;
    line-height: 100vh;
    animation: animate 10s linear infinite;

}

@keyframes animate{
    % {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100%);
    }
}